/* ExploreRang Styles */
.explore-container {
  width: 90%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.explore-header {
  margin: 5rem 0 2rem 0;
}

.explore-title {
  font-size: 3rem;
  text-align: center;
}

/* Responsive font size for screens under 1200px */
@media (max-width: 1199px) {
  .explore-title {
    font-size: 2.25rem;
  }

  .explore-header {
    margin: 2.5rem 0;
  }
}

/* Further responsive adjustments for mobile screens under 600px */
@media (max-width: 599px) {
  .explore-title {
    font-size: 1.75rem;
  }

  .explore-header {
    margin: 1.5rem 0;
  }
}

.explore-title-light {
  color: #fab767;
  font-weight: 300;
}

.explore-title-bold {
  color: #f1592c;
  font-weight: bold;
}

.explore-grid-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.explore-grid-main {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 0.5rem;
}
.explore-grid-main img:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.explore-grid-secondary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.explore-grid-secondary img:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.explore-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-image-rounded {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.explore-image-container {
  border-radius: 0.5rem;
}

@media (max-width: 600px) {
  .explore-grid-main {
    grid-template-columns: 1fr;
  }
  .explore-grid-main img {
    height: 300px;
    object-position: top;
  }

  .explore-grid-secondary {
    grid-template-columns: 1fr;
  }
  .explore-grid-secondary img {
    height: 300px;
    object-position: top;
  }
}
