/* ExploreRang Styles */
.explore-container {
  width: 90%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.explore-header {
  margin: 5rem 0;
}

.explore-title {
  font-size: 3.75rem;
  text-align: center;
}

/* Responsive font size for screens under 1200px */
@media (max-width: 1199px) {
  .explore-title {
    font-size: 2.5rem;
  }
  
  .explore-header {
    margin: 3rem 0;
  }
}

/* Further responsive adjustments for mobile screens under 600px */
@media (max-width: 599px) {
  .explore-title {
    font-size: 2rem;
  }
  
  .explore-header {
    margin: 2rem 0;
  }
}

.explore-title-light {
  color: #FAB767;
  font-weight: 300;
}

.explore-title-bold {
  color: #F1592C;
  font-weight: bold;
}

.explore-grid-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.explore-grid-main {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 1rem;
}

.explore-grid-secondary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.explore-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-image-rounded {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.explore-image-container {
  border-radius: 0.5rem;
}