/* HeroBanner Styles */
.hero-section {
  height: calc(100svh + 300px);
  overflow: hidden;
  /* position: relative; */
}

.hero-background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.9;
}

.hero-content {
  width: 100%;
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-overlay {
  background-color: rgba(247, 148, 28, 0.26);
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.hero-subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.hero-title {
  /* font-size: 3rem;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.1; */

  font-family: DM Serif Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 4em;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.hero-button {
  color: white;
  font-weight: 600;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  transition: background-color 0.15s ease-in-out;
}

.hero-button:hover {
  background-color: #ea580c;
}

.hero-button-text {
  border-bottom: 1px solid white;
  padding-bottom: 0.25rem;
  display: inline-block;
}
