/* ShopByCategory Styles */
.category-container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.category-header {
  margin: 5rem 0 2rem 0;
}

.category-title {
  font-size: 3rem;
  text-align: center;
}

/* Responsive font size for screens under 1200px */
@media (max-width: 1199px) {
  .category-title {
    font-size: 2.25rem;
  }

  .category-header {
    margin: 2.5rem 0;
  }
}

/* Further responsive adjustments for mobile screens under 600px */
@media (max-width: 599px) {
  .category-title {
    font-size: 1.75rem;
  }

  .category-header {
    margin: 1.5rem 0;
  }
}

.category-title-light {
  color: #fab767;
  font-weight: 300;
}

.category-title-bold {
  color: #f1592c;
  font-weight: bold;
}

.category-grid-main {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 1rem;
}
.category-grid-main img:hover {
  /* transform: scale(1.05); */
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.category-grid-secondary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}
.category-grid-secondary img:hover {
  /* transform: scale(1.05); */
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-image-rounded {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.category-image-container {
  border-radius: 0.5rem;
}

@media (max-width: 600px) {
  .category-grid-main {
    grid-template-columns: 1fr;
  }
  .category-grid-main img {
    height: 300px;
    object-position: top;
  }

  .category-grid-secondary {
    grid-template-columns: 1fr;
  }
  .category-grid-secondary img {
    height: 300px;
    object-position: top;
  }
}

.category-grid-main-men img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
}
.category-grid-main-women img {
  aspect-ratio: 1.7/1;
  object-fit: cover;
  object-position: top;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .category-grid-main-men img {
    aspect-ratio: 2/1;
  }
  .category-grid-main {
    grid-template-columns: 1fr 2fr;
  }
  .category-grid-main-men img {
    aspect-ratio: 0.88;
    height: auto;
  }
  .category-grid-main-women img {
    aspect-ratio: 1.73;
    height: auto;
  }
  .category-grid-secondary {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .category-grid-secondary img {
    aspect-ratio: 0.88;
    height: auto;
    border-radius: 8px;
  }
}
