/* ShopByBrand Styles */
.brand-container {
  width: 90%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.brand-container img:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.brand-header {
  margin: 5rem 0;
  margin-bottom: 0;
}

.brand-title {
  font-size: 3.75rem;
  text-align: center;
}

/* Responsive font size for screens under 1200px */
@media (max-width: 1199px) {
  .brand-title {
    font-size: 2.5rem;
  }
  
  .brand-header {
    margin: 3rem 0;
    margin-bottom: 0;
  }
}

/* Responsive adjustments for medium screens */
@media (max-width: 768px) {
  .brand-grid-main {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  
  .brand-image {
    height: 7rem;
  }
}

/* Further responsive adjustments for mobile screens under 600px */
@media (max-width: 599px) {
  .brand-title {
    font-size: 2rem;
  }
  
  .brand-header {
    margin: 2rem 0;
    margin-bottom: 0;
  }
  
  .brand-grid-main {
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
  }
  
  .brand-image {
    height: 5rem;
  }
}

.brand-title-light {
  color: #FAB767;
  font-weight: 300;
}

.brand-title-bold {
  color: #F1592C;
  font-weight: bold;
}

.brand-grid-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  align-items: center;
}

.brand-image {
  width: 100%;
  height: 9rem;
  object-fit: contain;
  border-radius: 0;
}

.brand-grid-secondary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* margin-top: 2rem; */
}

.brand-grid-tertiary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.brand-image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

@media (max-width: 600px) {
  .brand-grid-secondary {
    grid-template-columns: 1fr;
  }
  .brand-grid-secondary img {
    height: 300px;
    object-position: top;
  }
  .brand-grid-tertiary {
    grid-template-columns: 1fr;
  }
  .brand-grid-tertiary img {
    height: 300px;
    object-position: top;
  }
}