/* TimelessSixYards Styles */
.timeless-container {
  width: 90%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.timeless-container img:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.timeless-header {
  margin: 5rem 0 2rem 0;
}

.timeless-title {
  font-size: 3rem;
  text-align: center;
}

/* Responsive font size for screens under 1200px */
@media (max-width: 1199px) {
  .timeless-title {
    font-size: 2.25rem;
  }
  
  .timeless-header {
    margin: 2.5rem 0;
  }
}

/* Further responsive adjustments for mobile screens under 600px */
@media (max-width: 599px) {
  .timeless-title {
    font-size: 1.75rem;
  }
  
  .timeless-header {
    margin: 1.5rem 0;
  }
}

.timeless-title-light {
  color: #FAB767;
  font-weight: 300;
}

.timeless-title-bold {
  color: #F1592C;
  font-weight: bold;
}

.timeless-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.timeless-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

@media (max-width: 600px) {
  .timeless-grid {
    grid-template-columns: 1fr;
  }
  .timeless-image {
    height: 300px;
    object-position: bottom;
  }
}