@import "tailwindcss";
@import "@nuxt/ui";

body {
    /* max-width: 1600px; */
    /* margin: auto; */
    background-color: white !important;
    font-family: Poppins, sans-serif;
}
.jost {
    font-family: Jost, sans-serif;
}