@import '@nuxt/ui';
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* CSS Reset - Remove all user agent stylesheet defaults */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: white !important;
  font-family: Poppins, sans-serif;
  background: linear-gradient(to bottom, white 0%, white 80%, #ffe1b9 100%);
}

@media screen and (max-width: 600px) {
  body {
    background: linear-gradient(to bottom, white 0%, white 95%, #ffe1b9 100%);
  }
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default button styles */
button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

/* Remove default input styles */
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

/* Remove default link styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove default image styles */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Remove default form styles */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

/* Remove default heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

/* Remove default paragraph styles */
p {
  margin: 0;
}

/* Remove default list styles */
li {
  list-style: none;
}

/* Remove default table styles */
th,
td {
  padding: 0;
  text-align: left;
}

/* Remove default hr styles */
hr {
  border: none;
  margin: 0;
  padding: 0;
}

/* Remove default address styles */
address {
  font-style: normal;
}

/* Remove default cite styles */
cite {
  font-style: normal;
}

/* Remove default code styles */
code,
pre {
  font-family: inherit;
}

/* Remove default mark styles */
mark {
  background: transparent;
  color: inherit;
}

/* Remove default small styles */
small {
  font-size: inherit;
}

/* Remove default sub/sup styles */
sub,
sup {
  font-size: inherit;
  line-height: inherit;
  position: static;
  vertical-align: baseline;
}

/* Remove default details/summary styles */
details {
  display: block;
}

summary {
  display: block;
  cursor: pointer;
}

/* Remove default progress styles */
progress {
  appearance: none;
  border: none;
  background: transparent;
}

/* Remove default meter styles */
meter {
  appearance: none;
  border: none;
  background: transparent;
}

/* Remove default range styles */
input[type='range'] {
  appearance: none;
  background: transparent;
}

/* Remove default file input styles */
input[type='file'] {
  appearance: none;
  background: transparent;
  border: none;
}

/* Remove default search input styles */
input[type='search'] {
  appearance: none;
}

/* Remove default number input styles */
input[type='number'] {
  appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Remove default color input styles */
input[type='color'] {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  width: auto;
  height: auto;
}

/* Remove default date/time input styles */
input[type='date'],
input[type='time'],
input[type='datetime-local'] {
  appearance: none;
}

/* Remove default checkbox/radio styles */
input[type='checkbox'],
input[type='radio'] {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

/* Remove default select styles */
select {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

/* Remove default textarea styles */
textarea {
  resize: none;
  overflow: auto;
}

/* Remove default fieldset styles */
fieldset {
  min-width: 0;
}

/* Remove default legend styles */
legend {
  width: 100%;
  max-width: 100%;
}

/* Remove default optgroup styles */
optgroup {
  font-weight: normal;
}

/* Remove default option styles */
option {
  font-weight: normal;
}

/* Remove default datalist styles */
datalist {
  display: none;
}

/* Remove default output styles */
output {
  display: inline;
}

/* Remove default keygen styles */
keygen {
  display: none;
}

/* Remove default menu styles */
menu {
  display: block;
  list-style: none;
}

/* Remove default dir styles */
dir {
  display: block;
  list-style: none;
}

/* Remove default isindex styles */
isindex {
  display: none;
}

/* Remove default listing styles */
listing {
  display: block;
  font-family: monospace;
  white-space: pre;
}

/* Remove default plaintext styles */
plaintext {
  display: block;
  font-family: monospace;
  white-space: pre;
}

/* Remove default xmp styles */
xmp {
  display: block;
  font-family: monospace;
  white-space: pre;
}

/* Remove default noframes styles */
noframes {
  display: none;
}

/* Remove default noembed styles */
noembed {
  display: none;
}

/* Remove default noscript styles */
noscript {
  display: none;
}

/* Remove default script styles */
script {
  display: none;
}

/* Remove default style styles */
style {
  display: none;
}

/* Remove default title styles */
title {
  display: none;
}

/* Remove default base styles */
base {
  display: none;
}

/* Remove default link styles */
link {
  display: none;
}

/* Remove default meta styles */
meta {
  display: none;
}

/* Remove default head styles */
head {
  display: none;
}

/* Remove default html styles */
html {
  font-size: 1em;
  line-height: 1.5;
}

/* Remove default body styles */
body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  background-color: white;
}

/* Utility classes */
.jost {
  font-family: Jost, sans-serif;
}

.dm-serif {
  font-family: 'DM Serif Display', serif;
}

div [data-vaul-handle] {
  display: none !important;
}

.small-image-text {
  font-size: 0.8em !important;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  -webkit-text-stroke: 0px white !important;
}

.image-div {
  position: relative;
}
.image-div-text {
  position: absolute;
}
.image-div-text-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.image-div-text .by {
  font-weight: 100 !important;
}

.bottom-left {
  bottom: 16px !important;
  left: 16px !important;
  top: auto !important;
  right: auto !important;
}

.image-div-text div {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 4em;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(254, 244, 232, 0.7);
  -webkit-text-stroke: 1px white;
  z-index: 100;
}

.image-div-text p {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 3.5em;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.image-div-text span {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.5em;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  z-index: 100;
}

.image-shop-now {
  bottom: 16px;
  right: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: Poppins;
  font-weight: 400;
  font-style: SemiBold;
  font-size: 1.25em;
  line-height: 100%;
  letter-spacing: 0%;

  color: white;

  z-index: 100;
}

.image-shop-now:hover {
  color: #f1592c !important;
  transition: color 0.15s ease-in-out;
}

@media (max-width: 600px) {
  .image-div-text div {
    font-size: 1.5em;
  }
  .image-div-text span {
    font-size: 1em;
  }
  .image-shop-now {
    font-size: 1em;
  }
}

.color-inherit {
  color: inherit !important;
}

/* Global scale to simulate 75% zoom without changing browser zoom */
/* Default is 1 for all pages, home page will override to 0.75 */
:root {
  --global-scale: 1;
}

/* Chromium/WebKit */
html {
  zoom: var(--global-scale);
}

/* Firefox fallback: simulate zoom via transform */
@supports not (zoom: 1) {
  body {
    transform: scale(var(--global-scale));
    transform-origin: top left;
    width: calc(100% / var(--global-scale));
  }
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row !important;
}
.w-33 {
  width: 33.333333% !important;
}
.w-24 {
  width: 24% !important;
}
